<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second Order SQL injection detection</title>
</head>
<body>
<h1>Second Order SQL injection detection</h1>
<form action="create_query">
    <label for="username">Username</label>
    <input type="text" name="username" value="" required>
    <label for="password">Password</label>
    <input type="text" name="password" value="" required>
    <label for="email">Email</label>
    <input type="text" name="email" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>